.task {
    background-color: red;
}
.in-progress {
    background-color: orange;
}
.done {
    background-color: green;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    margin-left: auto;
}
